var config = {};

<!-- cloud mongo start  -->
<!-- config.mongodb=''; -->
<!-- config.mongodb_username=''; -->
<!-- config.mongodb_password=''; -->
<!-- cloud mongo end  -->

<!-- local mongo start  -->
config.mongodb="mongodb://localhost/nyschat";
<!-- local mongo end  -->

module.exports = config;