#header-box{
    background: darkblue;
    padding: 5px;
    color: white;
}
#nys-chat{
    max-width: 500px;
    margin: 0px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#feeback-box{
    font-size: 10px;
    background: lightgray;
    font-style: italic;
    padding-left: 5px;
    font-size: 12px;
}

#chat-box-sender{
    overflow: auto;
    margin: 25px 25px 25px 75px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    background: rgba(171, 214, 242, 0);
}

#chat-box-receiver{
    overflow: auto;
    margin: 25px 75px 25px 25px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    background: rgba(171, 214, 242, 0);
}

#output strong{
    color: #575ed8;
    font-size: 10px;
}

.cursor{
    cursor:pointer
}