 
<div class="container">
    <div style="margin-top: 20%">
        <div id="box">
            <div class="panel panel-info" style="margin-bottom: 0px">
                <div class="panel-heading">Welcome</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field style="width: 100%">
                                <input matInput [(ngModel)]="user.displayName" placeholder="Display Name" required>
                                <mat-hint *ngIf="displayNameErrorMsg!=''" style="color: red">{{displayNameErrorMsg}}</mat-hint>                                
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field style="width: 100%">
                                <input matInput [(ngModel)]="user.handle" placeholder="Handle" required>
                                <mat-hint *ngIf="handleErrorMsg!=''" style="color: red">{{handleErrorMsg}}</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field style="width: 100%">
                                <input matInput [(ngModel)]="user.password" placeholder="Password" type="password" required>
                                <mat-hint *ngIf="passwordErrorMsg!=''" style="color: red">{{passwordErrorMsg}}</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <button style="width: 100%" mat-raised-button mat-button  color="accent" (click)="register()">Register</button>
                        </div>
                    </div>
                    <br />
                    Have an account? <a [routerLink]="['/login']">Login</a> here
                </div>
            </div>
        </div>
    </div>
</div>